
@model QLNV.Models.Employee

@{
    ViewBag.Title = "Chuyển nhân viên";
    Layout = "_AdminLayout";
}


<div class="">
    <div class="">
        <h1 class="page-header">

            Chuyển nhân viên
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="@Url.Action("Index", "AdminDashboard", new { area = "Admin" })">Tổng quan</a>
            </li>
            <li>
                <i class="fa fa-tasks"></i><a href="@Url.Action("Index","Departments")">Phòng ban</a>
            </li>
        </ol>
    </div>
</div>


@Html.AntiForgeryToken()
<form class="form-horizontal" method="post" role="form">

    @*@Html.ValidationSummary(false)*@

    
    <div class="form-group">
        <!---start-->
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Mã nhân viên</label>
        </div>
        <div class="col-md-4 col-sm-8">
            <input type="text" name="Id"
                   class="form-control"
                   id="Id"
                   
                   readonly />
        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">
                @Html.ValidationMessageFor(n => n.Id)
            </label>
        </div>
        <!---end--->
    </div>
    
    <div class="form-group">
        <!---start-->
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Họ tên</label>
        </div>
        <div class="col-md-4 col-sm-8">
            <input type="text" name="NumberCode"
                   class="form-control"
                   id="NumberCode"
                   
                   readonly />
        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">
                @Html.ValidationMessageFor(n => n.NumberCode)
            </label>
        </div>
        <!---end--->
    </div>

    <div class="form-group">
        <!---start-->
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Họ tên</label>
        </div>
        <div class="col-md-4 col-sm-8">
            <input type="text" name="Name"
                   class="form-control"
                   id="Name"
                   
                   readonly />
        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">
                @Html.ValidationMessageFor(n => n.Name)
            </label>
        </div>
        <!---end--->
    </div>
    
    <div class="form-group">
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Chức vụ</label>
        </div>
        <div class="col-md-4 col-sm-8">
            @{

                var positions = (List<EmployeePosition>)ViewBag.Positions;
            }
            <select name="EmployeePosition" class="form-control">

                @foreach (var item in positions)
                {

                    if (Model.EmployeePosition.Id == item.Id)
                    {
                        <option value="@item.Id.ToString()" selected>@item.PositionName</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.PositionName</option>
                    }
                        
                }
            </select>


        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">
                @Html.ValidationMessageFor(model => model.EmployeePosition)
            </label>
        </div>
    </div>
    @* phong ban*@
    <div class="form-group">
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Phòng ban</label>
        </div>
        <div class="col-md-4 col-sm-8">
            @{
                var departments = (List<Department>)ViewBag.Departments;
            }
            <select name="Department" class="form-control">
                @foreach (var item in departments)
                {
                    if (Model.Department.Id == item.Id)
                    {
                        <option value="@item.Id.ToString()" selected>@item.Name</option>
                    }
                }
            </select>

        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">
                @Html.ValidationMessageFor(model => model.Department)
            </label>
        </div>
    </div>

    @**@

    @{
        var transfers = ViewBag.Historys;
    }
    <div class="form-group">
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Phòng ban chuyển đến</label>
        </div>
        <div class="col-md-4 col-sm-8">

            <select name="NewDepartment" class="form-control">

                @foreach (var item in departments)
                {
                    <option value="@item.Id.ToString()" selected>@item.Name</option>
                }
            </select>

        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">
                @Html.ValidationMessageFor(model => model.Department)
            </label>
        </div>
    </div>
    @**@

    <div class="hidden">
        <
        <input type="text" name="Gender" value="@Model.Gender" />
        <input type="text" name="Country" value="@Model.Country" />
        <input type="text" name="AvatarImagePath" value="@Model.AvatarImagePath" />
        <input type="text" name="Ethnic" value="@Model.Ethnic" />
        <input type="text" name="Phone" value="@Model.Phone" />
        
        <input type="text" name="DOB" value="@Model.DOB" />
        <input type="text" name="IsActive" value="@Model.IsActive" />
        <input type="text" name="EductionStatus" value="@Model.EductionStatus" />
        
        <input type="text" name="CitizenNumber" value="@Model.CitizenNumber" />

    </div>
    @*button *@

    <div class="form-group">
        <!---start-->

        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Lý do</label>
        </div>
        <div class="col-md-4 col-sm-8">
            <textarea class="form-control" name="LyDoChuyen"
                      id="LyDoChuyen" rows="3"></textarea>

        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:10px">
            <label class="control-label text-danger">

            </label>
        </div>
        <!---end--->
    </div>

    <div class="form-group">
        <div class="  col-md-offset-5 col-sm-offset-4 col-sm-5">
            <input type="submit" value="Xác nhận" class="btn btn-primary" />
        </div>
    </div>

</form>